<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  
  <groups>  
<run>  
<include name="Admin"/>  
</run>  
</groups>  
<test name="Admin Test">  
<classes>  
<class name="KloudqTechnologies.tests.AdminTestShield"/>  
</classes>  
</test> <!-- Test -->  
<!-- Test -->  

  <!-- Test -->
</suite> <!-- Suite -->
